@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-image-container {
  height: 400px; /* Set your desired height */
}

.custom-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


